/* -------  General Styles ------- */

.for-troubleshooting {
  border: 1px solid red;
}

.for-troubleshooting-white {
  border: 1px solid white;
}

.target {
  width: 85%;
  /* border: 1px solid red; */
  margin: 25px auto;
}

#menu {
  text-align: center;
  padding: 0 5rem 1rem 5rem ;
}

.container-fill {
  width: 90%;
  /* padding: 1rem; */
  margin: 1rem;
}

.center {
  text-align: center;
}

ul {
  margin: auto;
}



body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

main img {
  width: 100%;
}

/* .main p {
 width: 80%;
} */
/* ---  Groups & Items --- */
.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.group {
  display: flex;
  flex-direction: column;     /* Should be for laying things out up and down the screen */
}

.align-items-center {
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

ul {
  margin: 0;
  padding: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  width: 110px;
  display: inline-block;
  box-sizing: border-box;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  height: 25px;
  display: inline-block;
  box-sizing: border-box;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px; /*mod mm 2px*/
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media screen and (min-width: 769px) {
  /* Your styles for screens wider than 768px go here */
 .mobile-flex-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
 }

 ul#menu.flex-row {
  padding: 0;
 }

 .logo {
    font-size: 38px;
  }

  .about-images-and-text-flex {
    display: flex;
  }

  .image-section {
    width: 50%;
    display: flex;
  }
  .text-section {
    width: 50%;
  }
}
