/* -------  General Styles ------- */

.for-troubleshooting {
  border: 1px solid red;
}

.for-troubleshooting-white {
  border: 1px solid white;
}

.target {
  width: 85%;
  /* border: 1px solid red; */
  margin: 25px auto;
}

#menu {
  text-align: center;
  padding: 0 5rem 1rem 5rem ;
}

.container-fill {
  width: 90%;
  /* padding: 1rem; */
  margin: 1rem;
}

/* .container {
  width: 88%;
} */

.center {
  text-align: center;
}

ul {
  margin: auto;
}



body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}
/*--------LOOK AT THIS WITH CARLO-------duplicate main img*/
main img {
  width: 100%;
}

/* .main p {
 width: 80%;
} */
/* ---  Groups & Items --- */
.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.group {
  display: flex;
  flex-direction: column;     /* Should be for laying things out up and down the screen */
}

.align-items-center {
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

ul {
  margin: 0;
  padding: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  width: 110px;
  display: inline-block;
  box-sizing: border-box;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  height: 25px;
  display: inline-block;
  box-sizing: border-box; 
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px; /*mod mm 2px*/
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media screen and (min-width: 769px) {
  /* Your styles for screens wider than 768px go here */
 .mobile-flex-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
 }

 ul#menu.flex-row {
  padding: 0;
 }

 .logo {
    font-size: 38px;
  }

  .about-images-and-text-flex {
    display: flex;
  }

  .image-section {
    width: 50%;
    display: flex;
  }
  .text-section {
    width: 50%;
    display: flex;
    align-items: center;
  }


  #stay form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px 5px;
  }

  #stay form label {
    width: 100%
  }
  
  #stay form select,
  form input {
    display: inline-block;
    box-sizing: border-box
  }
  
  #stay form button {
    padding: 10px 28px;
    font-size: 18px;
  }

  #stay div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 0 0;
  }

  
  /* .ideas-mobile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .ideas-twoByTwo {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-bottom: 50%; /* Same as width, sets height *//*
    margin-bottom: 1%; /* (100-32*3)/2 */ /*
    position: relative;
  }*/
  

  /* -------  USING THIS STYLE ------- */
  .ideas-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* -------  USING THIS STYLE ------- */

  #ideas img {
    width: 500px;
  }
#host {
  display: flex;
  align-items: center;
}
  .host-row {
    display:flex;
  }

  .host-half-width {
    width: 50%;
    align-items: center;
  }

  .host-text {
    /* width: fit-content; */
    align-items: center;
    justify-content: center;
    font-size: small;
  }

  #host .host-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0
  } 

  .add-padding {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  #host img {
    width: 550px;
  }

  .target {
    margin-top: 10px;
    margin-bottom: 0;
    width: fit-content
  }
}